name: CD

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build app
        run: ./scripts/buildprod.sh

      - name: Install goose and run DB migrations
        run: |
          echo "$HOME/go/bin" >> $GITHUB_PATH
          go install github.com/pressly/goose/v3/cmd/goose@latest
          chmod +x scripts/migrateup.sh
          ./scripts/migrateup.sh
